*{margin:0; padding:0;}
.wpwl-button{
	margin-top: 10px !important;
}
.btn_cancel {
	float: left;
	color: #fff;
	background-color: #aaa;
	border-color:#999;
	border-radius: 4px;
	text-decoration: none !important;
}
.btn_cancel:hover {
	color: #fff;
	background-color: #999;
}
.page-title h1{
	text-align: center !important;
}

.box-unreg{
	padding-bottom:20px;
}
.page-title .pt-center{
	text-align: center !important;
}
.text-unreg{
	margin-bottom: 10px;
}

.btnCustom {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5 linear-gradient(to bottom, #FFFFFF, #E6E6E6) repeat-x;
	border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica,sans-serif;
    font-size: 14px !important;
    line-height: normal !important;
    height: 35px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
a.btnCustom  {
	text-decoration: none;
}

.group {
	padding : 10px 0;
}
.group-separator {
	float:left;
	width: 100%;
	padding-top : 15px;
}
.group-list {
	width : 100%;
	float : left;
}
.group-add {
	float:left;
	width:100%;
}
.group-img {
	float: left;
	width: 115px;
	margin-bottom: 10px
}
.brandImage {
 	height : 35px;
 	margin-right: 10px;
 	float : left;
 }
.group-info {
	width : 100%;
 	margin-right : 10px;
 	float : left;
 	border :1px solid;
 	max-width: 320px;
	min-height: 25px;
 	padding: 6px;
 	margin-bottom: 10px;
}
.group-button {
	float: left;
	margin-bottom: 10px;
/*	min-width: 350px; */
}
.btnDefault {
	float : left;
	width : 20%;
	min-width: 150px;
	margin-right : 10px !important;
	max-width: 150px;
}
.btnChange {
	float : left;
	margin-right: 10px !important;
/*	width : 10%;
	min-width: 75px;
	margin-right : 10px !important;
	max-width: 75px;*/
}
.btnDelete {
	float : left;
/*	width : 10%;
	min-width: 80px;
	max-width: 80px;*/
}
.btnAdd {
	float : left;
	margin-top: 5px;
	margin-bottom: 10px;
/*	width: 90px;
	padding : 0 !important;*/
}
.btnCustom {
	height: 35px !important;
	font-size: 13px !important;
}

.payment-logo{
	text-align: center;
	margin:0 auto;
	padding:10px 0 20px;
}

.wpwl-form{
	max-width: 40em !important;
	margin: 0 auto 2px !important;
}
.frametest{
	margin:10px auto;
	width: 100%;
	border:10px solid red;
	max-width: 440px;
	padding:0;
}
.testmode{
	margin:0 auto !important;
	padding:3px 0 10px 0;
	width: 100%;
	font-size: 14px !important;
	font-weight: bold;
	color: #fff !important;
	background-color: red;
	text-align: center;
}
.wpwl-form{
    padding: 15px !important;
}
.cancel_form{
 float: left;
 margin-right: 10px !important;
}
.register-tooltip{
	font-size:11px;
	margin:10px auto;
	width: 100%;
	max-width: 430px;
	padding:0 5px;
	text-align: center;
}
.wpwl-control-iframe{
	padding-top: 2px;
}
