*{margin:0; padding:0;}
.col-left{
	float:none !important;
	width:0 !important;
}
.col-main{
	float:none !important;
	width:100% !important;
}
.wpwl-button{
	margin-top: 10px !important;
}
.btn_cancel {
	float: left;
	color: #fff;
	background-color: #aaa;
	border-color: #999;
	border-radius: 4px;
	text-decoration: none !important;
}
.btn_cancel:hover {
	color: #fff;
	background-color: #999;
}
.page-title h1{
	text-align: center !important;
}

.payment-logo{
	text-align: center;
	margin: 0 auto;
	padding: 10px 0 20px;
}
.wpwl-form{
	max-width: 40em !important;
	margin: 0 auto 2px !important;
	 padding: 15px !important;
}
.frametest{
	margin:10px auto;
	width: 100%;
	border:10px solid red;
	max-width: 440px;
	padding:0;
}
.testmode{
	margin:0 auto !important;
	padding:3px 0 10px 0;
	width: 100%;
	font-size: 13px !important;
	font-weight: bold;
	color: #fff !important;
	background-color: red;
	text-align: center;
}
.error-box{
	margin: 10px 0;
	background-color:#FFE6E6;
	border:1px solid #FF8E90;
	padding:5px;
}
.wpwl-wrapper-registration-brand {
    width: 33.33333333% !important;
}
.wpwl-control-iframe{
	padding-top: 2px;
}
