{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <h1>{{ error_title }}</h1>
  {{ error_message }}
  <div class="buttons">
    <div class="right"><a href="{{ continue }}" class="button">{{ button_continue }}</a></div>
  </div>
  {{ content_bottom }}</div>
  {{ column_right }}</div>
</div>
{{ footer }}
