{% if redirect is defined and redirect %}
	{{ header }}
	<script src="catalog/view/javascript/genericshop/jquery-1.10.2.min.js" type="text/javascript"></script>
	<style>
		body {
			display: none;
			background-color: white;
		}
		button.wpwl-button-brand {
			display:none;
		}
	</style>
	<script type="text/javascript">
		var wpwlOptions = {
				 onReady: function(){
						$(".wpwl-form").submit();
				}
	    }
	</script>
	<input type="submit" value="Submit" style="display:none" />
	<script src="{{ payment_widget_url }}" type="text/javascript"></script>
	<form action="{{ response_url }}" class="paymentWidgets">{{ brand }}</form>
{% else %}
	{{ header }}
	{% if payment_form_css %}
		<link href="catalog/view/theme/{{ config_template }}/stylesheet/genericshop/payment_form.css" rel="stylesheet" type="text/css">
	{% else %}
		<link href="catalog/view/theme/default/stylesheet/genericshop/payment_form.css" rel="stylesheet" type="text/css">
	{% endif %}
	<div class="container">
	  <ul class="breadcrumb">
	    {% for breadcrumb in breadcrumbs %}
	    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
	    {% endfor %}
	  </ul>

		<script type="text/javascript">
			var wpwlOptions = {
				locale: "{{ lang }}",
				 style: "card",
				 onReady: function(){
					var buttonCancel = "<a href='{{ cancel_url }}' class='wpwl-button btn_cancel'> {{ FRONTEND_BT_CANCEL }}</a>";
					var ttTestMode = "<div class='testmode'>{{ FRONTEND_TT_TESTMODE }}</div>";
					var headerWidget = "<h2 style='text-align : center !important;'>{{ FRONTEND_RECURRING_WIDGET_HEADER2 }}</h2>";
		            var form_wpwl_form = $('form.wpwl-form');
		            form_wpwl_form.find('.wpwl-button').before(buttonCancel);
		            form_wpwl_form.css("display","block");
		            {%  if test_mode %}
			            $(".wpwl-container").wrap( "<div class='frametest'></div>").before(ttTestMode);
		            {% endif %}
		            {% if recurring is defined and recurring %}
						$('#wpwl-registrations').after(headerWidget);
					{% endif %}
				} ,
				registrations: {
		             hideInitialPaymentForms: false,
		             requireCvv: false
		        }
		    }
		</script>


	{% if recurring is defined and recurring %}
		{%  if registrations %}
			<h2 style="text-align : center !important;">{{ FRONTEND_RECURRING_WIDGET_HEADER1 }}</h2>
		{% else %}
			<h2 style="text-align : center !important;">{{ FRONTEND_MC_PAYANDSAFE }}</h2>
		{% endif %}

		{% if error is defined  %}
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error }}
	      		<button type="button" class="close" data-dismiss="alert">&times;</button>
	    	</div>
		{% endif %}
	{% endif %}

		<input type="submit" value="Submit" style="display:none" />
		<script src="{{ payment_widget_url }}" type="text/javascript"></script>
		<form action="{{ response_url }}" class="paymentWidgets">{{ brand }}</form>
		{% if merchant_location %}
			<div class="wpwl-label wpwl-label-custom" style="margin: 0 auto 24px auto; max-width: 30em">{{ FRONTEND_MERCHANT_LOCATION_DESC }}
			{{ merchant_location }}</div>
		{% endif %}
		{{ content_bottom }}</div>
		{{ column_right }}</div>
	</div>
	{{ footer }}
{% endif %}
