{{ header }}
	{% if config_template %}
		<link href="catalog/view/theme/{{ config_template }}/stylesheet/genericshop/account_payment_form.css" rel="stylesheet" type="text/css">
	{% else %}
		<link href="catalog/view/theme/default/stylesheet/genericshop/account_payment_form.css" rel="stylesheet" type="text/css">
	{% endif %}
	<div class="container">
	  <ul class="breadcrumb">
	    {% for breadcrumb in breadcrumbs %}
	    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
	    {% endfor %}
	  </ul>
	  <div class="row">{{ column_left }}
	    {% if column_left and column_right %}
	    	{% set class =  'col-sm-6' %}
	    {% elseif column_left or column_right %}
	     	{% set class = 'col-sm-9' %}
	    {% else %}
	    	{% set class = 'col-sm-12' %}
	    {% endif %}
	    <div id="content" class="{{ class }}">{{ content_top }}

	<div class="page-title">
		    <h1>{{ FRONTEND_MC_DELETE }}</h1>
		</div>

		{% if error is defined %}
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error }}
	      		<button type="button" class="close" data-dismiss="alert">&times;</button>
	    	</div>
		{% endif %}

	<div class="box-unreg">
		<p class="text-unreg">{{ FRONTEND_MC_DELETESURE }}</p>
		<form class="cancel_form" action="{{ cancel_url }}" method="post">
			<input type="submit" value="{{ FRONTEND_BT_CANCEL }}" class="btn">
		</form>
		<form action="" method="post">
			<input type="hidden" name="id" value="{{ id }}"/>
			<input type="hidden" name="selected_payment" value="{{ selected_payment }}"/>  
			<input type="submit" name="action" value="{{ FRONTEND_BT_CONFIRM }}" class="btn btn-primary">
		</form>
	</div>

	{{ content_bottom }}</div>
	{{ column_right }}</div>
</div>
{{ footer }}