{{ header }}
	{% if config_template %}
		<link href="catalog/view/theme/{{ config_template }}/stylesheet/genericshop/account_payment_form.css" rel="stylesheet" type="text/css">
	{% else %}
		<link href="catalog/view/theme/default/stylesheet/genericshop/account_payment_form.css" rel="stylesheet" type="text/css">
	{% endif %}
	<div class="container">
	  <ul class="breadcrumb">
	    {% for breadcrumb in breadcrumbs %}
	    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
	    {% endfor %}
	  </ul>
	  <div class="row">{{ column_left }}
	    {% if column_left and column_right %}
	    	{% set class =  'col-sm-6' %}
	    {% elseif column_left or column_right %}
	     	{% set class = 'col-sm-9' %}
	    {% else %}
	    	{% set class = 'col-sm-12' %}
	    {% endif %}
	    <div id="content" class="{{ class }}">{{ content_top }}

	{% if is_recurring_active is defined %}
		<div class="page-title">
			<h1>{{ FRONTEND_MC_INFO }}</h1>
		</div>

		{% if success is defined %}
  			<div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
  			</div>
  		{% endif %}

		{% if error is defined %}
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error }}
	      		<button type="button" class="close" data-dismiss="alert">&times;</button>
	    	</div>
  		{% endif %}

		{% if is_cc_recurring_active is defined or is_cc_recurring_active == 1 %}
			<div class="group"><h3>{{ FRONTEND_MC_CC }}</h3></div>
			{% for key,value in customer_cc_account %}
				<div class="group-list">
					<div class="group-img">
						{% if config_template %}
							<img src="catalog/view/theme/{{ config_template }}/image/genericshop/{{ value.brand|lower }}.png" class="brandImage" alt="{{ value.brand }}">
						{% else %}
							<img src="catalog/view/theme/default/image/genericshop/{{ value.brand|lower }}.png" class="brandImage" alt="{{ value.brand }}">
						{% endif %}
					</div>
					<span class="group-info">{{ FRONTEND_MC_ENDING }}{{ value.last4digits }}{{ FRONTEND_MC_VALIDITY }}{{ value.expiry_month }}/{{  value.expiry_year|slice(-2) }}</span>
					<div class="group-button">
						{% if value.payment_default %}
							<button class="btn btn-primary btnDefault">{{ FRONTEND_MC_BT_DEFAULT }}</button>
						{% else %}
							<form class="btnDefault" action="{{ default_payment }}" method="post">
								<input type="hidden" name="id" value="{{ value.id }}"/>
								<input type="hidden" name="payment_group" value="CC"/>
								<button style = "width:100%;" class="btn btn-primary btnDefault" type="submit" value="submit">{{ FRONTEND_MC_BT_SETDEFAULT }}</button>
							</form>	
						{% endif %}
						<form class="btnChange" action="{{ change_payment }}" method="post">
							<input type="hidden" name="id" value="{{ value.id }}"/>
							<input type="hidden" name="selected_payment" value="genericshop_cc_saved"/>
							<button style = "width:100%;" class="btn btn-primary" type="submit" value="submit">{{ FRONTEND_MC_BT_CHANGE }}</button>
						</form>
						<form class="btnDelete" action="{{ delete_payment }}" method="post">
							<input type="hidden" name="id" value="{{ value.id }}"/>
							<input type="hidden" name="selected_payment" value="genericshop_cc_saved"/>
							<button style = "width:100%;" class="btn btn-primary" type="submit" value="submit">{{ FRONTEND_MC_BT_DELETE }}</button>
						</form>
					</div>
				</div>
			{% endfor %}
			<div class="group-add">
				<form class = "btnAdd" action="{{ register_payment }}" method="post">
					<input type="hidden" name="selected_payment" value="genericshop_cc_saved"/>
					<button style = "width:100%;" class="btn btn-primary" type="submit" value="submit">{{ FRONTEND_MC_BT_ADD }}</button>
				</form>
			</div>
			<div class="group-separator"></div>
		{% endif %}

		{% if is_dd_recurring_active %}
			<div class="group"><h3>{{ FRONTEND_MC_DD }}</h3></div>
			{% for key,value in customer_dd_account %}
				<div class="group-list">
					<div class="group-img">
						{% if config_template %}
							<img src="catalog/view/theme/{{ config_template }}/image/genericshop/sepa.png" class="brandImage" alt="SEPA">
						{% else %}
							<img src="catalog/view/theme/default/image/genericshop/sepa.png" class="brandImage" alt="SEPA">
						{% endif %}
					</div>
					<span class="group-info">{{ FRONTEND_MC_ACCOUNT }} {{ value.last4digits }}</span>
					<div class="group-button">
						{% if value.payment_default %}
							<button class="btn btn-primary btnDefault">{{ FRONTEND_MC_BT_DEFAULT }}</button>
						{% else %}
							<form class="btnDefault" action="{{ default_payment }}" method="post">
								<input type="hidden" name="id" value="{{ value.id }}"/>
								<input type="hidden" name="payment_group" value="DD"/>
								<button style = "width:100%;" class="btn btn-primary btnDefault" type="submit" value="submit">{{ FRONTEND_MC_BT_SETDEFAULT }}</button>
							</form>	
						{% endif %}
						<form class="btnChange" action="{{ change_payment }}" method="post">
							<input type="hidden" name="id" value="{{ value.id }}"/>
							<input type="hidden" name="selected_payment" value="genericshop_dd_saved"/>
							<button style = "width:100%;" class="btn btn-primary" type="submit" value="submit">{{ FRONTEND_MC_BT_CHANGE }}</button>
						</form>
						<form class="btnDelete" action="{{ delete_payment }}" method="post">
							<input type="hidden" name="id" value="{{ value.id }}"/>
							<input type="hidden" name="selected_payment" value="genericshop_dd_saved"/>
							<button style = "width:100%;" class="btn btn-primary" type="submit" value="submit">{{ FRONTEND_MC_BT_DELETE }}</button>
						</form>
					</div>
				</div>
			{% endfor %}
			<div class="group-add">
				<form class = "btnAdd" action="{{ register_payment }}" method="post">
					<input type="hidden" name="selected_payment" value="genericshop_dd_saved"/>
					<button style = "width:100%;" class="btn btn-primary" type="submit" value="submit">{{ FRONTEND_MC_BT_ADD }}</button>
				</form>
			</div>
			<div class="group-separator"></div>
		{% endif %}

	{% endif %}

	{{ content_bottom }}</div>
	{{ column_right }}</div>
</div>
{{ footer }}