{% if redirect is defined and redirect %}
	{{ header }}
	<script src="catalog/view/javascript/genericshop/jquery-1.10.2.min.js" type="text/javascript"></script>
	<style>
		body {
			display: none;
			background-color: white;
		}
		button.wpwl-button-brand {
			display:none;
		}
	</style>
	<script type="text/javascript">
		var wpwlOptions = {
				 onReady: function(){
						$(".wpwl-form").submit();
				}
	    }
	</script>

	<input type="submit" value="Submit" style="display:none" />
	<script src="{{ payment_widget_url }}" type="text/javascript"></script>
	<form action="{{ response_url }}" class="paymentWidgets">{{ brand }}</form>
{% else %}
	{{ header }}
	{% if config_template %}
		<link href="catalog/view/theme/{{ config_template }}/stylesheet/genericshop/account_payment_form.css" rel="stylesheet" type="text/css">
	{% else %}
		<link href="catalog/view/theme/default/stylesheet/genericshop/account_payment_form.css" rel="stylesheet" type="text/css">
	{% endif %}
	<div class="container">
	  <ul class="breadcrumb">
	    {% for breadcrumb in breadcrumbs %}
	    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
	    {% endfor %}
	  </ul>
	  <div class="row">{{ column_left }}
	    {% if column_left and column_right %}
	    	{% set class =  'col-sm-6' %}
	    {% elseif column_left or column_right %}
	     	{% set class = 'col-sm-9' %}
	    {% else %}
	    	{% set class = 'col-sm-12' %}
	    {% endif %}
	    <div id="content" class="{{ class }}">{{ content_top }}

		<div class="page-title">
		    <h1>{{ FRONTEND_MC_SAVE }}</h1>
		</div>

		{% if error is defined %}
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error }}
	      		<button type="button" class="close" data-dismiss="alert">&times;</button>
	    	</div>
		{% endif %}

		<script type="text/javascript">
			var wpwlOptions = {
				locale: "{{ lang }}",
				 style: "card",
				 onReady: function(){
				 	var buttonCancel = "<a href='{{ cancel_url }}' class='wpwl-button btn_cancel'>{{ FRONTEND_BT_CANCEL }}</a>";
					var buttonConfirm = "{{ FRONTEND_BT_REGISTER }}" ;
					var ttRegistration = "<div class='register-tooltip'>{{ FRONTEND_TT_REGISTRATION }}</div>";
					var ttTestMode = "<div class='testmode'>{{ FRONTEND_TT_TESTMODE }}</div>";
					var wpwl_container = $('.wpwl-container');
					$('form.wpwl-form').find('.wpwl-button').before(buttonCancel);
		            $('.wpwl-button-pay').html(buttonConfirm);
		            wpwl_container.after(ttRegistration);
		            {% if test_mode %}
			            wpwl_container.wrap("<div class='frametest'></div>").before(ttTestMode);
		            {% endif %}
				}
	    	}
		</script>

		<input type="submit" value="Submit" style="display:none" />
		<script src="{{ payment_widget_url }}" type="text/javascript"></script>
		<form action="{{ response_url }}" class="paymentWidgets">{{ brand }}</form>

		{{ content_bottom }}</div>
		{{ column_right }}</div>
	</div>
	{{ footer }}
{% endif %}
