{{ header }} {{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-genericshop_ageneral" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ BACKEND_CH_EDIT }}</h3>
        <label class="pull-right">3.0.0</label>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-genericshop_ageneral" class="form-horizontal">
           <div class="form-group">
            <label class="col-sm-2 control-label" for="input-login">{{ BACKEND_CH_LOGIN }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_genericshop_ageneral_login" value="{{ payment_genericshop_ageneral_login }}" placeholder="{{ BACKEND_CH_LOGIN }}" id="input-login" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-password">{{ BACKEND_CH_PASSWORD }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_genericshop_ageneral_password" value="{{ payment_genericshop_ageneral_password }}" placeholder="{{ BACKEND_CH_PASSWORD }}" id="input-password" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-recurring">{{ BACKEND_CH_RECURRING }}</label>
            <div class="col-sm-10">
             <select name="payment_genericshop_ageneral_recurring" id="input-recurring" class="form-control">
                {% if payment_genericshop_ageneral_recurring %}
                <option value="1" selected="selected">Yes</option>
                <option value="0">No</option>
                {% else %}
                <option value="1">Yes</option>
                <option value="0" selected="selected">No</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-gender_customfield">{{ BACKEND_GENERAL_GENDER_CUSTOMFIELD }}</label>
            <div class="col-sm-10">
              <select name="payment_genericshop_ageneral_gender_customfield" id="input-gender_customfield" class="form-control">
                <option value="0">-</option>
                {% for custom_field in custom_fields %}
                {% if custom_field.custom_field_id == payment_genericshop_ageneral_gender_customfield %}
                <option value="{{ custom_field.custom_field_id }}" selected="selected">{{ custom_field.name }}</option>
                {% else %}
                <option value="{{ custom_field.custom_field_id }}">{{ custom_field.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-gender_malevalue">{{ BACKEND_GENERAL_GENDER_MALEVALUE }}</label>
            <div class="col-sm-10">
              <select name="payment_genericshop_ageneral_gender_malevalue" id="input-gender_malevalue" class="form-control">
                <option value="0">-</option>
                {% for custom_field_value in custom_field_values %}
                {% if custom_field_value.custom_field_value_id == payment_genericshop_ageneral_gender_malevalue %}
                <option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
                {% else %}
                <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-gender_femalevalue">{{ BACKEND_GENERAL_GENDER_FEMALEVALUE }}</label>
            <div class="col-sm-10">
              <select name="payment_genericshop_ageneral_gender_femalevalue" id="input-gender_femalevalue" class="form-control">
                <option value="0">-</option>
                {% for custom_field_value in custom_field_values %}
                {% if custom_field_value.custom_field_value_id == payment_genericshop_ageneral_gender_femalevalue %}
                <option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
                {% else %}
                <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-dob_customfield">{{ BACKEND_GENERAL_DOB_CUSTOMFIELD }}</label>
            <div class="col-sm-10">
              <select name="payment_genericshop_ageneral_dob_customfield" id="input-dob_customfield" class="form-control">
                <option value="0">-</option>
                {% for custom_field in custom_fields %}
                {% if custom_field.custom_field_id == payment_genericshop_ageneral_dob_customfield %}
                <option value="{{ custom_field.custom_field_id }}" selected="selected">{{ custom_field.name }}</option>
                {% else %}
                <option value="{{ custom_field.custom_field_id }}">{{ custom_field.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-merchantemail">{{ BACKEND_GENERAL_MERCHANTEMAIL }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_genericshop_ageneral_merchant_email" value="{{ payment_genericshop_ageneral_merchant_email }}" placeholder="{{ BACKEND_GENERAL_MERCHANTEMAIL }}" id="input-merchantemail" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-merchantno"><span data-toggle="tooltip" title="{{ BACKEND_TT_MERCHANT_ID }}">{{ BACKEND_GENERAL_MERCHANTNO }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_genericshop_ageneral_merchant_no" value="{{ payment_genericshop_ageneral_merchant_no }}" placeholder="{{ BACKEND_GENERAL_MERCHANTNO }}" id="input-merchantno" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-shopurl">{{ BACKEND_GENERAL_SHOPURL }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_genericshop_ageneral_shop_url" value="{{ payment_genericshop_ageneral_shop_url }}" placeholder="{{ BACKEND_GENERAL_SHOPURL }}" id="input-shopurl" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-versiontracker"><span data-toggle="tooltip" title="{{ BACKEND_TT_VERSION_TRACKER }}">{{ BACKEND_CH_VERSION_TRACKER }}</span></label>
            <div class="col-sm-10">
             <select name="payment_genericshop_ageneral_version_tracker" id="input-versiontracker" class="form-control">
                {% if payment_genericshop_ageneral_version_tracker %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ BACKEND_CH_STATUS }}</label>
            <div class="col-sm-10">
              <select name="payment_genericshop_ageneral_status" id="input-status" class="form-control">
                <option value="1" selected="selected">{{ text_enabled }}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-merchantlocation"><span data-toggle="tooltip" title="{{ BACKEND_GENERAL_MERCHANT_LOCATION_DESC }}">{{ BACKEND_GENERAL_MERCHANT_LOCATION_TITLE }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_genericshop_ageneral_merchant_location" value="{{ payment_genericshop_ageneral_merchant_location }}" placeholder="{{ BACKEND_GENERAL_MERCHANT_LOCATION_TITLE }}" id="input-merchantlocation" class="form-control" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}