{{ header }}
<script language="JavaScript">
  function getSelectedCards()
 {
    var cardtypes = document.getElementById('input-cards-types');
    var cardtypesVal = "";
    var i = 0;
    for (i=0;i<cardtypes.length;i++)
    {
        if (cardtypes[i].selected)
        {
          cardtypesVal = cardtypesVal + "," + cardtypes[i].value;
        }
    }
    document.getElementById('select_cards').value = cardtypesVal.substring(1);
  }
</script>
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-genericshop_cc_saved" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ BACKEND_CH_EDIT }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-genericshop_cc_saved" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-server">{{BACKEND_CH_SERVER }}</label>
            <div class="col-sm-10">
              <select name="payment_genericshop_cc_saved_server" id="input-server" class="form-control">
                {% if payment_genericshop_cc_saved_server == 'TEST' %}
                <option value="TEST" selected="selected">{{ BACKEND_CH_MODE_TEST }}</option>
                {% else %}
                <option value="TEST">{{ BACKEND_CH_MODE_TEST }}</option>
                {% endif %}
                {% if payment_genericshop_cc_saved_server == 'LIVE' %}
                <option value="LIVE" selected="selected">{{ BACKEND_CH_MODE_LIVE }}</option>
                {% else %}
                <option value="LIVE">{{ BACKEND_CH_MODE_LIVE }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-mode">{{ BACKEND_CH_MODE }}</label>
            <div class="col-sm-10">
              <select name="payment_genericshop_cc_saved_transaction_mode" id="input-mode" class="form-control">
                {% if payment_genericshop_cc_saved_transaction_mode == 'DB' %}
                <option value="DB" selected="selected">{{ BACKEND_CH_MODEDEBIT }}</option>
                {% else %}
                <option value="DB">{{ BACKEND_CH_MODEDEBIT }}</option>
                {% endif %}
                {% if payment_genericshop_cc_saved_transaction_mode == 'PA' %}
                <option value="PA" selected="selected">{{ BACKEND_CH_MODEPREAUTH }}</option>
                {% else %}
                <option value="PA">{{ BACKEND_CH_MODEPREAUTH }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-cards-types">{{ BACKEND_CH_CARDS }}</label>
            <div class="col-sm-10">
              <input type="hidden" id="select_cards" name="payment_genericshop_cc_saved_cards_types" value="{{ payment_genericshop_cc_saved_cards_types }}">
              <select onchange="getSelectedCards();" name="cards_types[]" multiple="multiple" id="input-cards-types" class="form-control" style="height:100px !important">
                {% set selectedCard = payment_genericshop_cc_saved_cards_types|split(',') %}
                {% set cardtypes = ['VISA', 'MASTER', 'AMEX', 'DINERS', 'JCB'] %}
                  {% for value in cardtypes %}
                    {% if value in selectedCard %}
                      {% set attribute = 'selected="selected"' %}
                    {% else %}
                      {% set attribute = '' %}
                    {% endif%}
                    <option value="{{ value }}" {{ attribute }} >{{ value }}</option>
                  {% endfor %}
              </select>
            </div>
          </div>          
           <div class="form-group">
            <label class="col-sm-2 control-label" for="input-amount"><span data-toggle="tooltip" title="{{ BACKEND_TT_REGISTRATION_AMOUNT }}">{{ BACKEND_CH_AMOUNT }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_genericshop_cc_saved_amount" value="{{ payment_genericshop_cc_saved_amount }}" placeholder="{{ BACKEND_CH_AMOUNT }}" id="input-amount" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-multichannel"><span data-toggle="tooltip" title="{{ BACKEND_TT_MULTICHANNEL }}">{{ BACKEND_CH_MULTICHANNEL }}</span></label>
            <div class="col-sm-10">
             <select name="payment_genericshop_cc_saved_multichannel" id="input-multichannel" class="form-control">
                {% if payment_genericshop_cc_saved_multichannel %}
                <option value="1" selected="selected">Yes</option>
                <option value="0">No</option>
                {% else %}
                <option value="1">Yes</option>
                <option value="0" selected="selected">No</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-channel_id">{{ BACKEND_CH_CHANNEL }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_genericshop_cc_saved_channel_id" value="{{ payment_genericshop_cc_saved_channel_id }}" placeholder="{{ BACKEND_CH_CHANNEL }}" id="input-channel_id" class="form-control" />
            </div>
          </div>
           <div class="form-group">
            <label class="col-sm-2 control-label" for="input-moto"><span data-toggle="tooltip" title="{{ BACKEND_TT_CHANNEL_MOTO }}">{{ BACKEND_CH_MOTO }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_genericshop_cc_saved_moto" value="{{ payment_genericshop_cc_saved_moto }}" placeholder="{{ BACKEND_CH_MOTO }}" id="input-moto" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="{{ BACKEND_TT_TOTAL }}">{{ BACKEND_CH_TOTAL }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_genericshop_cc_saved_total" value="{{ payment_genericshop_cc_saved_total }}" placeholder="{{ BACKEND_CH_TOTAL }}" id="input-total" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-geo-zone">{{ BACKEND_CH_ZONE }}</label>
            <div class="col-sm-10">
              <select name="payment_genericshop_cc_saved_geo_zone_id" id="input-geo-zone" class="form-control">
                <option value="0">{{ text_all_zones }}</option>
                {% for geo_zone in geo_zones %}
                {% if geo_zone.geo_zone_id == payment_genericshop_cc_saved_geo_zone_id %}
                <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                {% else %}
                <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ BACKEND_CH_STATUS }}</label>
            <div class="col-sm-10">
              <select name="payment_genericshop_cc_saved_status" id="input-status" class="form-control">
                {% if payment_genericshop_cc_saved_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">{{ BACKEND_CH_ORDER }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_genericshop_cc_saved_sort_order" value="{{ payment_genericshop_cc_saved_sort_order }}" placeholder="{{ BACKEND_CH_ORDER }}" id="input-sort-order" class="form-control" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}